<div class="row">
  <div class="col-lg-12">

    <form class="form-signin" ng-submit="submit()">

      <a href="index.html" class="brand text-center">
        <img src="assets/img/logo-dark.png" srcset="assets/img/logo-dark@2x.png 2x" alt=""/>
      </a>

      <div class="row mb-4" ng-show="errors.general.length>0">
        <div class="col-md-12">
          <span class="text-danger">
            <i class="fa fa-warning"></i>&nbsp;
            {{errors.general}}
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="phone">{{t['Phone']}}</label>
            <div class="input-group">
              <input type="phone" id="phone" ng-model="login.phone" class="form-control" ng-disabled="loading" minlength="10" maxlength="10" dir="ltr">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-phone"></i></span>
              </div>
            </div>
            <small class="text-danger" ng-show="errors.phone.length>0">{{errors.phone}}</small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="password">{{t['Password']}}</label>
            <div class="input-group">
              <input type="password" id="password" ng-model="login.password" class="form-control" ng-disabled="loading" minlength="7" maxlength="30" dir="ltr">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
              </div>
            </div>
            <small class="text-danger" ng-show="errors.password.length>0">{{errors.password}}</small>
          </div>
        </div>
      </div>

      <div class="row mb-2 mt-4">
        <div class="col-sm-12">
          <button class="btn btn-lg btn-primary btn-block" ng-disabled="loading" type="submit">
            <text ng-show="!loading">{{t['Sign in']}}</text>
            <text ng-show="loading">{{t['Verifying account information']}}...</text>
          </button>
        </div>
      </div>

      <div class="mt-4">
        <span>
          {{t['Forgot password']}}?
        </span>
        <a href="#!forgot-password?backto={{backto}}" ng-show="backto" class="text-primary">{{t['Reset now']}}</a>
        <a href="#!forgot-password" ng-show="!backto" class="text-primary">{{t['Reset now']}}</a>
      </div>

    </form>

  </div>
</div>
