<div class="row">
  <div class="col-lg-6">
    <div class="card card-shadow mb-4">
        <div class="card-header">
            <div class="card-title">
                Default
            </div>
        </div>
        <div class="card-body">
            <ul class="nav nav-tabs mb-4" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" data-target="#tab_1">Active</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" data-toggle="tab" data-target="#tab_2">Action</a>
                        <a class="dropdown-item" data-toggle="tab" data-target="#tab_2-1">Another action</a>
                        <a class="dropdown-item" data-toggle="tab" data-target="#tab_2-2">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" data-toggle="tab" data-target="#tab_2-3">Separated link</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" data-target="#tab_3">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" data-toggle="tab" data-target="#tab_4">Disabled</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="tab_1" role="tabpanel">
                    Build responsive, mobile-first projects on the web with the world's most popular front-end component library.
                    Bootstrap is an open source toolkit for developing with HTML, CSS, and JS. Quickly prototype your ideas or build your entire app with our Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful plugins built on jQuery.
                </div>
                <div class="tab-pane" id="tab_2" role="tabpanel">
                    Include Bootstrap's source Sass and JavaScript files via npm, Composer or Meteor. Package managed installs don't include documentation, but do include our build system and readme.
                </div>
                <div class="tab-pane" id="tab_3" role="tabpanel">
                    Take Bootstrap 4 to the next level with official premium themes—toolkits built on Bootstrap with new components and plugins, docs, and build tools.
                </div>
                <div class="tab-pane" id="tab_4" role="tabpanel">
                    We’ve done our best to prevent breaking changes, but we had to sneak some in. Regrettably, we’ll also have a few more coming in Beta 3, too. However, we’re clearly outlining all of them for you to make the upgrade and testing process as easy as possible.
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card card-shadow mb-4">
        <div class="card-header">
            <div class="card-title">
                Pills
            </div>
        </div>
        <div class="card-body">
            <ul class="nav nav-pills mb-4" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" data-target="#tab-p_1">Tab 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" data-target="#tab-p_2">Tab 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" data-target="#tab-p_3">Tab 3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" data-toggle="tab" data-target="#tab-p_4">Disabled</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="tab-p_1" role="tabpanel">
                    Build responsive, mobile-first projects on the web with the world's most popular front-end component library.
                    Bootstrap is an open source toolkit for developing with HTML, CSS, and JS. Quickly prototype your ideas or build your entire app with our Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful plugins built on jQuery.
                </div>
                <div class="tab-pane" id="tab-p_2" role="tabpanel">
                    Include Bootstrap's source Sass and JavaScript files via npm, Composer or Meteor. Package managed installs don't include documentation, but do include our build system and readme.
                </div>
                <div class="tab-pane" id="tab-p_3" role="tabpanel">
                    Take Bootstrap 4 to the next level with official premium themes—toolkits built on Bootstrap with new components and plugins, docs, and build tools.
                </div>
                <div class="tab-pane" id="tab-p_4" role="tabpanel">
                    We’ve done our best to prevent breaking changes, but we had to sneak some in. Regrettably, we’ll also have a few more coming in Beta 3, too. However, we’re clearly outlining all of them for you to make the upgrade and testing process as easy as possible.
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
